@charset "UTF-8";
*{
  font-family: "Helvetica Neue";
  padding: 0;
  margin: 0;
}
/* telefoon */
@media screen and (min-width: 100px) and (max-width:768.9px){
  header{
    background-color: #001E3C;
  }

  #logo{
    height: 65px;
    margin-top: 1vh;
    margin-left: 30vw;
  }

  footer{


  }
  .copyright{
    color: #BFBFBF;
  }

  .item-footer a{
    color: white;
    text-decoration: none;

  }

  .item-footer p{
    margin-top: 3vh;
    font-weight: bold;
  }

  .item-footer {
    margin-top: 3vh;
    text-align: center;
    width:100%;
    height:170px;
    background-color: #001E3C;
  }

}
/* desktop */
@media screen and (min-width: 769px) {
  /* Header */
  header {
    background-color: #001E3C;
    width: 100%;
    display: flex;
  }


  #logo {
    width: 20%;
    justify-content: flex-start;
    margin-left: 12vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }

  #logo img{
    height: 65px;
  }

  #navigatie {
    width: 80%;
    justify-content: flex-end;
  }

  #navigatie ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    font-weight: bold;
    margin-top: 3.5vh;
  }

  #navigatie li {
    font-size: 20px;
  }
  
  #navigatie li a {
    color: white;
    text-decoration: none;
  }

/* Footer */
  footer {

  }

  .copyright {
    color: #BFBFBF;
    margin-left: 15vw;
  }

  .item-footer a {
    color: white;
    text-decoration: none;
  }

  .item-footer p {
    margin-top: 3vh;
    font-weight: bold;
    padding-left: 10vw;
  }

  .item-footer {
    display: flex;
    flex-direction: row;
    margin-top: 5vh;
    text-align: center;
    position: absolute;
    bottom:0;
    width:100%;
    height:75px;
    background-color: #001E3C;
  }

/* Over ons */
  .main-tekst {
    display: flex;
    padding-left: 5%;
    padding-right: 2%;
    padding-top: 1%;
  }

  .afbeelding {
  }

  .afbeelding img {
    padding: 15px;
  }

  .tekst {
    width: 90%;
    margin-bottom: 5vh;
  }

  /* Contact page */

  .ContactBody {}

  .item-h1{
    margin-top: 3vh;
    margin-left: 10vw;
    color: black;
    }

  .item-contact{
    display: grid;
    margin-top: 15vh;
    margin-left: 8vw;
    border: 1px solid #001E3C;
    background-color: grey;
    width: 30vw;
    height: 45vh;
  }

.item-1{
  text-align: center;
}

.item-2{
  margin-left: 10.0vw;
  border-radius: 20px;
  width: 140px;
}

.item-3{
  text-align: center;
}

.item-4{
  margin-left: 10.0vw;;
  border-radius: 20px;
  width: 140px;
}

.item-5{
  text-align: center;
}

.item-6{
  margin-left: 10.0vw;;
  border-radius: 20px;
  width: 140px;
}

.item-7{
  text-align: center;
}

.item-8{
  margin-left: 10.0vw;
  border-radius: 20px;
  width: 142px;
}

  td {
    color: black;
  }

  .voorwaarden {
    margin-top: 2vh;
    margin-left: 6.5vw;
    
  }

  .item-button{
    margin-left: 12.5vw;
  }

  .item-Strawberry {
    float: right;
    
  }

  .item-Can {
    width: 100px;
    height: 100px;
    float: right;
  }

  #maps {
    
    width: 200px;
    height: 200px;
    margin-left: 70vw;
  }

  .copyright{
    color: #BFBFBF;
  }
}
