@charset "UTF-8";
*{
  font-family: "Helvetica Neue";
  padding: 0;
  margin: 0;
}
/* telefoon */
@media screen and (min-width: 100px) and (max-width:768.9px){
  header{
    background-color: #001E3C;
  }
  #logo{
      width: 2%;
      /* margin-top: 1vh; */
      margin-left: 30vw;
    }

    #logo img{
      height: 65px;
    }

    #navigatie{
      display: none;
    }

    .menu-wrap{
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
    }

    .toggler{
      position: absolute;
      top: 0.5rem;
      left: 0.5rem;
      width: 60px;
      height: 60px;
      z-index: 3;
      opacity: 0;
      cursor: pointer;
    }

    .hamburger{
      position: absolute;
      top: 0.5rem;
      left: 0.5rem;
      width: 60px;
      height: 60px;
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .hamburger>div{
      position: absolute;
      width: 60%;
      height: 3px;
      border-radius: 1.5px;
      background-color: white;
      transition: .4s;
    }

    .hamburger>div:before{
      content: '';
      position: absolute;
      width: 100%;
      height: 3px;
      border-radius: 1.5px;
      background-color: white;
      top: -10px;
      left: 0;
      transition: .4s;
    }

    .hamburger>div:after{
      content: '';
      position: absolute;
      width: 100%;
      height: 3px;
      border-radius: 1.5px;
      background-color: white;
      top: 10px;
      left: 0;
      transition: .4s;
    }

    .toggler:checked + .hamburger>div{
      transform: rotate(135deg);
    }

    .toggler:checked:hover + .hamburger>div{
      transform: rotate(225deg);
    }

    .toggler:checked + .hamburger>div:before, .toggler:checked + .hamburger>div:after{
      top: 0;
      transform: rotate(90deg);
    }

    .menu{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      visibility: hidden;
      transition: .6s;
    }

    .menu > div{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-150%) translateY(-50%);
      width: 1600px;
      height: 1600px;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.9);
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      transition: .6s;
    }

    .menu > div > div{
      max-width: 90vw;
      max-height: 100vh;
      opacity: 0;
      transition: .6s;
    }

    .menu > div > div > ul > li{
      list-style: none;
    }

    .menu > div > div > ul > li > a{
      text-decoration: none;
      color: white;
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      margin: .5rem;
      transition: .3s;
      font-size: 1.8rem;
      display: inline-block;
    }

    .toggler:checked ~ .menu{
      visibility: visible;
    }

    .toggler:checked ~ .menu > div{
      transform: translateX(-50%) translateY(-50%);
    }

    .toggler:checked ~ .menu > div > div{
      opacity: 1;
    }


  footer{
  }
  .copyright{
    color: #BFBFBF;
  }

  .item-footer a{
    color: white;
    text-decoration: none;

  }

  .item-footer p{
    margin-top: 3vh;
    font-weight: bold;
  }

  .item-footer {
    margin-top: 3vh;
    text-align: center;
    width:100%;
    height:170px;
    background-color: #001E3C;
  }

    .o-afbeelding{
      text-align: center;
      margin-top: 5vh;
    }

    .o-afbeelding-bedrijf{
      text-align: center;
      position: absolute;
      top: 55vh;
      left: 16vw;
    }

    .o-main-tekst{
      text-align: center;
      margin-top: 5vh;
    }
    .o-main-tekst p{
      margin: 0vh 5vh 5vh 5vh;
    }

    .o-main-tekst h2{
      margin-top: 5vh;
    }

    .o-main-tekst-bedrijf{
      text-align: center;
      margin-top: 25vh;
    }
}
/* desktop */
@media screen and (min-width: 769px) {
  /* header */
  header {
    background-color: #001E3C;
    width: 100%;
    display: flex;
  }


  #logo {
    width: 20%;
    justify-content: flex-start;
    margin-left: 12vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }

  #logo img{
    height: 65px;
  }

  #navigatie {
    width: 80%;
    justify-content: flex-end;
  }

  #navigatie ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    font-weight: bold;
    margin-top: 3.5vh;
  }

  #navigatie li {
    font-size: 20px;
  }

  #navigatie li a {
    color: white;
    text-decoration: none;
  }

  .toggler{
    display: none;
  }
  .menu{
    display: none;
  }
/* footer */
  footer {

  }

  .copyright {
    color: #BFBFBF;
    margin-left: 15vw;
  }

  .item-footer a {
    color: white;
    text-decoration: none;
  }

  .item-footer p {
    margin-top: 3vh;
    font-weight: bold;
    padding-left: 10vw;
  }

  .item-footer {
    display: flex;
    flex-direction: row;
    margin-top: 5vh;
    text-align: center;
    position:absolute;
    bottom:0;
    width:100%;
    height:75px;
    background-color: #001E3C;
  }

  	/* over ons */
      .o-main-tekst{
        display: flex;
        padding-left: 5%;
        padding-right: 2%;
        padding-top: 1%;
      }

      .o-afbeelding-bedrijf{
        padding: 15px;
      }
      .o-main-tekst-bedrijf{
        display: flex;
        padding-left: 5%;
        padding-right: 2%;
        padding-top: 1%;
      }

      .o-afbeelding img{
        padding: 15px;
      }

      .o-tekst{
        width: 90%;
        margin-bottom: 5vh;
        font-size: 1.1rem;
      }
      .o-tekst h2{
        margin-bottom: 3vh;
      }

}
