@charset "UTF-8";
*{
  font-family: "Helvetica Neue";
  padding: 0;
  margin: 0;
}
/* telefoon */
@media screen and (min-width: 100px) and (max-width:768.9px){
  header{
    
  }

  #logo{
    height: 65px;
    margin-top: 1vh;
    margin-left: 30vw;
  }

  #navigatie{
    display: none;
  }

  footer{


  }
  .copyright{
    color: #BFBFBF;
  }

  .item-footer a{
    color: white;
    text-decoration: none;

  }

  .item-footer p{
    margin-top: 3vh;
    font-weight: bold;
  }

  .item-footer {
    margin-top: 3vh;
    text-align: center;
    width:100%;
    height:170px;
    background-color: #001E3C;
  }

}
/* desktop */
@media screen and (min-width: 769px) {
  /* Header */
  header {
    background-color: #001E3C;
    width: 100%;
    display: flex;
  }


  #logo {
    width: 20%;
    justify-content: flex-start;
    margin-left: 12vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }

  #logo img{
    height: 65px;
  }

  #navigatie {
    width: 80%;
    justify-content: flex-end;
  }

  #navigatie ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    font-weight: bold;
    margin-top: 3.5vh;
  }

  #navigatie li {
    font-size: 20px;
  }
  
  #navigatie li a {
    color: white;
    text-decoration: none;
  }

/* Home */
  #h-drie-blikjes {
    display: flex;
    flex-direction: row;
  }

  #h-drie-blikjes img{
    width: 25%;
  }

  .mySlides {
    display: none
  }

  .slideshow-containe img {
    vertical-align: middle;
  }

  /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    margin-top: 8vh;
  }

  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

  #articles section {
    display: flex;
    flex-direction: row;
    margin-top: 6vh;
  }

  #articles section img {
    width: 500px;
  }

  #h-drie-blikjes img:nth-child(1) {-ms-flex: 2; flex: 2;}
  #h-drie-blikjes img:nth-child(2) {-ms-flex: 2; flex: 2;}
  #h-drie-blikjes img:nth-child(3) {-ms-flex: 2; flex: 2;}

/* Footer */
  footer {

  }

  .copyright {
    color: #BFBFBF;
    margin-left: 15vw;
  }

  .item-footer a {
    color: white;
    text-decoration: none;
  }

  .item-footer p {
    margin-top: 3vh;
    font-weight: bold;
    padding-left: 10vw;
  }

  .item-footer {
    display: flex;
    flex-direction: row;
    margin-top: 5vh;
    text-align: center;
    position: relative;
    bottom:0;
    width:100%;
    height:75px;
    background-color: #001E3C;
  }

/* Over ons */
  .main-tekst {
    display: flex;
    padding-left: 5%;
    padding-right: 2%;
    padding-top: 1%;
  }

  .afbeelding {
  }

  .afbeelding img {
    padding: 15px;
  }

  .tekst {
    width: 90%;
    margin-bottom: 5vh;
  }
}
