@charset "UTF-8";
* {
  font-family: "Helvetica Neue";
  padding: 0;
  margin: 0;
}
/* telefoon */
@media screen and (min-width: 100px) and (max-width:768.9px){
  /* Header */
  header {
    background-image: url("../images/3 blikjes.png");
    height: 70vh;
    background-position: center;
  }

  .logo{
    width: 2%;
    /* margin-top: 1vh; */
    margin-left: 30vw;
  }

  .logo img{
    height: 65px;
  }

  #navigatie{
    display: none;
  }

  .menu-wrap{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }

  .toggler{
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    width: 60px;
    height: 60px;
    z-index: 3;
    opacity: 0;
    cursor: pointer;
  }

  .hamburger{
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    width: 60px;
    height: 60px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hamburger>div{
    position: absolute;
    width: 60%;
    height: 3px;
    border-radius: 1.5px;
    background-color: #001E3C;
    transition: .4s;
  }

  .hamburger>div:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 1.5px;
    background-color: #001E3C;
    top: -10px;
    left: 0;
    transition: .4s;
  }

  .hamburger>div:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 1.5px;
    background-color: #001E3C;
    top: 10px;
    left: 0;
    transition: .4s;
  }

  .toggler:checked + .hamburger>div{
    transform: rotate(135deg);
  }

  .toggler:checked:hover + .hamburger>div{
    transform: rotate(225deg);
  }

  .toggler:checked + .hamburger>div:before, .toggler:checked + .hamburger>div:after{
    top: 0;
    transform: rotate(90deg);
  }

  .menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    transition: .6s;
  }

  .menu > div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-150%) translateY(-50%);
    width: 1600px;
    height: 1600px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: .6s;
  }

  .menu > div > div{
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: .6s;
  }

  .menu > div > div > ul > li{
    list-style: none;
  }

  .menu > div > div > ul > li > a{
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin: .5rem;
    transition: .3s;
    font-size: 1.8rem;
    display: inline-block;
  }

  .toggler:checked ~ .menu{
    visibility: visible;
  }

  .toggler:checked ~ .menu > div{
    transform: translateX(-50%) translateY(-50%);
  }

  .toggler:checked ~ .menu > div > div{
    opacity: 1;
  }

  /* Home */
  #h-drie-blikjes {
    display: none;
  }
  
  .slideshow-container {
    display: none;
  }

  #articles section article {
    display: flex;
    flex-direction: row;
  }

  #articles section article img {
    width: 350px;
    margin-top: 10vh;
    margin-left: 3vw;
    margin-right: 3vw;
  }

  .article-php {
    display: none;
  }

  footer{


  }
  .copyright{
    color: #BFBFBF;
  }

  .item-footer a{
    color: white;
    text-decoration: none;

  }

  .item-footer p{
    margin-top: 3vh;
    font-weight: bold;
  }

  .item-footer {
    margin-top: 3vh;
    text-align: center;
    width:100%;
    height:170px;
    background-color: #001E3C;
  }

}
/* desktop */
@media screen and (min-width: 769px) {
  /* Header */
  header {
    background-color: #001E3C;
    width: 100%;
    display: flex;
  }

  .menu-wrap {
    display: none;
  }

  .logo {
    width: 20%;
    justify-content: flex-start;
    margin-left: 12vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }

  .logo img{
    height: 65px;
  }

  #navigatie {
    width: 80%;
    justify-content: flex-end;
  }

  #navigatie ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    font-weight: bold;
    margin-top: 3.5vh;
  }

  #navigatie li {
    font-size: 20px;
  }
  
  #navigatie li a {
    color: white;
    text-decoration: none;
  }

/* Home */
  #h-drie-blikjes {
    display: flex;
    flex-direction: row;
  }

  #h-drie-blikjes img{
    width: 25%;
  }

  .mySlides {
    display: none
  }

  .slideshow-containe img {
    vertical-align: middle;
  }

  /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    margin-top: 8vh;
  }

  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

  #articles section {
    display: flex;
    flex-direction: row;
  }

  #articles section article img {
    width: 350px;
    margin-top: 10vh;
    margin-left: 5vw;
    margin-right: 5vw;
  }

  #h-drie-blikjes img:nth-child(1) {-ms-flex: 2; flex: 2;}
  #h-drie-blikjes img:nth-child(2) {-ms-flex: 2; flex: 2;}
  #h-drie-blikjes img:nth-child(3) {-ms-flex: 2; flex: 2;}

  /* details artiest */
  .images-at {
    width: 5%;
    margin-top: 3vh;
    margin-left: 20vw;
    position: relative;
  }

  .info {
    position: absolute;
  }

  .info-at {
    margin-top: 3vh;
    margin-left: 2vw;
  }

  .info-ab {
    margin-top: 3vh;
    margin-left: 2vw;
  }

/* Footer */
  footer {

  }

  .copyright {
    color: #BFBFBF;
    margin-left: 15vw;
  }

  .item-footer a {
    color: white;
    text-decoration: none;
  }

  .item-footer p {
    margin-top: 3vh;
    font-weight: bold;
    padding-left: 10vw;
  }

  .item-footer {
    display: flex;
    flex-direction: row;
    margin-top: 5vh;
    text-align: center;
    bottom:0;
    width:100%;
    height:75px;
    background-color: #001E3C;
  }

/* Over ons */
  .main-tekst {
    display: flex;
    padding-left: 5%;
    padding-right: 2%;
    padding-top: 1%;
  }

  .afbeelding {
  }

  .afbeelding img {
    padding: 15px;
  }

  .tekst {
    width: 90%;
    margin-bottom: 5vh;
  }
}
