* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* telefoon */
@media screen and (min-width: 100px) and (max-width:768.9px){
  header {
    background-color: #001E3C;
    width: 100%;
    display: flex;
  }

  #logo{
      width: 2%;
      /* margin-top: 1vh; */
      margin-left: 30vw;
    }

    #logo img{
      height: 65px;
    }

    #navigatie{
      display: none;
    }

    .menu-wrap{
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
    }

    .toggler{
      position: absolute;
      top: 0.5rem;
      left: 0.5rem;
      width: 60px;
      height: 60px;
      z-index: 3;
      opacity: 0;
      cursor: pointer;
    }

    .hamburger{
      position: absolute;
      top: 0.5rem;
      left: 0.5rem;
      width: 60px;
      height: 60px;
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .hamburger>div{
      position: absolute;
      width: 60%;
      height: 3px;
      border-radius: 1.5px;
      background-color: #001E3C;
      transition: .4s;
    }

    .hamburger>div:before{
      content: '';
      position: absolute;
      width: 100%;
      height: 3px;
      border-radius: 1.5px;
      background-color: #001E3C;
      top: -10px;
      left: 0;
      transition: .4s;
    }

    .hamburger>div:after{
      content: '';
      position: absolute;
      width: 100%;
      height: 3px;
      border-radius: 1.5px;
      background-color: #001E3C;
      top: 10px;
      left: 0;
      transition: .4s;
    }

    .toggler:checked + .hamburger>div{
      transform: rotate(135deg);
    }

    .toggler:checked:hover + .hamburger>div{
      transform: rotate(225deg);
    }

    .toggler:checked + .hamburger>div:before, .toggler:checked + .hamburger>div:after{
      top: 0;
      transform: rotate(90deg);
    }

    .menu{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      visibility: hidden;
      transition: .6s;
    }

    .menu > div{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-150%) translateY(-50%);
      width: 1600px;
      height: 1600px;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.9);
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      transition: .6s;
    }

    .menu > div > div{
      max-width: 90vw;
      max-height: 100vh;
      opacity: 0;
      transition: .6s;
    }

    .menu > div > div > ul > li{
      list-style: none;
    }

    .menu > div > div > ul > li > a{
      text-decoration: none;
      color: white;
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      margin: .5rem;
      transition: .3s;
      font-size: 1.8rem;
      display: inline-block;
    }

    .toggler:checked ~ .menu{
      visibility: visible;
    }

    .toggler:checked ~ .menu > div{
      transform: translateX(-50%) translateY(-50%);
    }

    .toggler:checked ~ .menu > div > div{
      opacity: 1;
    }

    .parent {
      width: auto;
      height: 384px;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto auto;
      overflow: hidden;
      position: absolute;
      border-radius: 16px;
      -webkit-box-shadow: 0 0 88px 5px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0 0 88px 5px rgba(0, 0, 0, 0.75);
      box-shadow: 0 0 88px 5px rgba(0, 0, 0, 0.75);
    }

    svg {
      position: absolute;
      z-index: 1;
      width: 681px;
      height: 384px;
    }

    button {
      position: absolute;
      z-index: 50;
      width: 40px;
      overflow: hidden;
      height: 40px;
      border: none;
      border-radius: 50%;
      background: #fff;
      cursor: pointer;
      -webkit-box-shadow: 0 0 88px 5px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0 0 88px 5px rgba(0, 0, 0, 0.75);
      box-shadow: 0 0 88px 5px rgba(0, 0, 0, 0.75);
    }
    button:focus {
      outline-width: 0;
    }

    circle {
      stroke: #fff;
      fill: none;
      transition: 0.3s;
    }

    #svg1 circle {
      transition-timing-function: linear;
    }

    #svg2 circle {
      transition-timing-function: linear;
    }

    #Capa_1 {
      position: absolute;
      width: 16px;
      height: 16px;
      transform: translate(-7px, -8px);
    }

    #Capa_2 {
      position: absolute;
      width: 16px;
      height: 16px;
      transform: translate(-9px, -8px);
    }

    .right {
      margin-left: 328px;
      margin-top: 168px;
      border: 1px solid #849494;
      background-color: transparent;
      transition: 0.5s;
    }
    .right:hover {
      background-color: #fff;
    }

    .left {
      margin-left: 0.5%;
      margin-top: 168px;
      border: 1px solid #849494;
      background-color: transparent;
      transition: 0.5s;
    }
    .left:hover {
      background-color: #fff;
    }

    .circle1 {
      transition-delay: 0.05s;
    }

    .circle2 {
      transition-delay: 0.1s;
    }

    .circle3 {
      transition-delay: 0.15s;
    }

    .circle4 {
      transition-delay: 0.2s;
    }

    .circle5 {
      transition-delay: 0.25s;
    }

    .circle6 {
      transition-delay: 0.3s;
    }

    .circle7 {
      transition-delay: 0.35s;
    }

    .circle8 {
      transition-delay: 0.4s;
    }

    .circle9 {
      transition-delay: 0.45s;
    }

    .circle10 {
      transition-delay: 0.05s;
    }

    .circle11 {
      transition-delay: 0.1s;
    }

    .circle12 {
      transition-delay: 0.15s;
    }

    .circle13 {
      transition-delay: 0.2s;
    }

    .circle14 {
      transition-delay: 0.25s;
    }

    .circle15 {
      transition-delay: 0.3s;
    }

    .circle16 {
      transition-delay: 0.35s;
    }

    .circle17 {
      transition-delay: 0.4s;
    }

    .circle18 {
      transition-delay: 0.45s;
    }

    .slide1 {
      background-image: url(images/can-goldmode.png) ;
    }

    .slide2 {
      background-image: url(images/can-ijskoffie.png);
    }

    .slide3 {
      background-image: url(images/can-sugar-free.png);
    }

    .slide4 {
      background-image: url(images/can-goldmode.png);
    }

    .slider {
      position: absolute;
      width: 400%;
      height: 100%;
      background: #000;
      display: inline-flex;
      overflow: hidden;
    }

    .slide1, .slide2, .slide3, .slide4 {
      position: absolute;
      background-position: center;
      background-size: cover;
      color: #fff;
      font-size: 62px;
      padding-top: 138px;
      font-weight: 800;
      font-family: "Heebo", sans-serif;
      text-align: center;
      width: 25%;
      height: 100%;
      z-index: 10;
      transition: 1.4s;
    }

    .tran {
      transform: scale(1.3);
    }

    .up1 {
      z-index: 20;
    }

    .up2 {
      z-index: 40;
    }

    .steap {
      stroke-width: 0;
    }

    .streak {
      stroke-width: 82px;
    }


    .a-week{
      text-align: center;
    }
  footer{
  }
  .copyright{
    color: #BFBFBF;
  }

  .item-footer a{
    color: white;
    text-decoration: none;

  }

  .item-footer p{
    margin-top: 3vh;
    font-weight: bold;
  }

  .item-footer {
  position: absolute;
  bottom: 0;
    text-align: center;
    width:100%;
    height:170px;
    background-color: #001E3C;
  }
}
/* desktop */
@media screen and (min-width: 769px) {
  header {
    background-color: #001E3C;
    width: 100%;
    display: flex;
  }
  .menu-wrap{
    display: none;
  }

  #logo {
    width: 20%;
    justify-content: flex-start;
    margin-left: 12vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }

  #logo img{
    height: 65px;
  }

  #navigatie {
    width: 80%;
    justify-content: flex-end;
  }

  #navigatie ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    font-weight: bold;
    margin-top: 3.5vh;
  }

  #navigatie li {
    font-size: 20px;
  }

  #navigatie li a {
    color: white;
    text-decoration: none;
  }

.parent {
  width: 681px;
  height: 384px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto auto;
  overflow: hidden;
  position: absolute;
  border-radius: 16px;
  -webkit-box-shadow: 0 0 88px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 88px 5px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 88px 5px rgba(0, 0, 0, 0.75);
}

svg {
  position: absolute;
  z-index: 1;
  width: 681px;
  height: 384px;
}

button {
  position: absolute;
  z-index: 50;
  width: 40px;
  overflow: hidden;
  height: 40px;
  border: none;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  -webkit-box-shadow: 0 0 88px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 88px 5px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 88px 5px rgba(0, 0, 0, 0.75);
}
button:focus {
  outline-width: 0;
}

circle {
  stroke: #fff;
  fill: none;
  transition: 0.3s;
}

#svg1 circle {
  transition-timing-function: linear;
}

#svg2 circle {
  transition-timing-function: linear;
}

#Capa_1 {
  position: absolute;
  width: 16px;
  height: 16px;
  transform: translate(-7px, -8px);
}

#Capa_2 {
  position: absolute;
  width: 16px;
  height: 16px;
  transform: translate(-9px, -8px);
}

.right {
  margin-left: 628px;
  margin-top: 168px;
  border: 1px solid #849494;
  background-color: transparent;
  transition: 0.5s;
}
.right:hover {
  background-color: #fff;
}

.left {
  margin-left: 0.5%;
  margin-top: 168px;
  border: 1px solid #849494;
  background-color: transparent;
  transition: 0.5s;
}
.left:hover {
  background-color: #fff;
}

.circle1 {
  transition-delay: 0.05s;
}

.circle2 {
  transition-delay: 0.1s;
}

.circle3 {
  transition-delay: 0.15s;
}

.circle4 {
  transition-delay: 0.2s;
}

.circle5 {
  transition-delay: 0.25s;
}

.circle6 {
  transition-delay: 0.3s;
}

.circle7 {
  transition-delay: 0.35s;
}

.circle8 {
  transition-delay: 0.4s;
}

.circle9 {
  transition-delay: 0.45s;
}

.circle10 {
  transition-delay: 0.05s;
}

.circle11 {
  transition-delay: 0.1s;
}

.circle12 {
  transition-delay: 0.15s;
}

.circle13 {
  transition-delay: 0.2s;
}

.circle14 {
  transition-delay: 0.25s;
}

.circle15 {
  transition-delay: 0.3s;
}

.circle16 {
  transition-delay: 0.35s;
}

.circle17 {
  transition-delay: 0.4s;
}

.circle18 {
  transition-delay: 0.45s;
}

.slide1 {
  background-image: url(images/can-goldmode.png) ;
}

.slide2 {
  background-image: url(images/can-ijskoffie.png);
}

.slide3 {
  background-image: url(images/can-sugar-free.png);
}

.slide4 {
  background-image: url(images/can-goldmode.png);
}

.slider {
  position: absolute;
  width: 400%;
  height: 100%;
  background: #000;
  display: inline-flex;
  overflow: hidden;
}

.slide1, .slide2, .slide3, .slide4 {
  position: absolute;
  background-position: center;
  background-size: cover;
  color: #fff;
  font-size: 62px;
  padding-top: 138px;
  font-weight: 800;
  font-family: "Heebo", sans-serif;
  text-align: center;
  width: 25%;
  height: 100%;
  z-index: 10;
  transition: 1.4s;
}

.tran {
  transform: scale(1.3);
}

.up1 {
  z-index: 20;
}

.up2 {
  z-index: 40;
}

.steap {
  stroke-width: 0;
}

.streak {
  stroke-width: 82px;
}


.a-week{
  text-align: center;
}
footer {

}

.copyright {
  color: #BFBFBF;
  margin-left: 15vw;
}

.item-footer a {
  color: white;
  text-decoration: none;
}

.item-footer p {
  margin-top: 3vh;
  font-weight: bold;
  padding-left: 10vw;
}

.item-footer {
  display: flex;
  flex-direction: row;
  margin-top: 5vh;
  text-align: center;
  position:absolute;
  bottom:0;
  width:100%;
  height:75px;
  background-color: #001E3C;
}

.main-tekst {
  display: flex;
  padding-left: 5%;
  padding-right: 2%;
  padding-top: 1%;
}

.afbeelding {
}

.afbeelding img {
  padding: 15px;
}

.tekst {
  width: 90%;
  margin-bottom: 5vh;
}
}
